@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: lightslategrey;
    color: white;
    height: 50vh;
    overflow: hidden;
}

nav ul {
    padding-inline-start: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

nav ul li h1 {
    font-size: 2rem;
    font-weight: 200;
}

nav ul li .logo {
    width: 80px;
}


.container {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container__form label {
    font-size: 2rem;
}

.cold {
    color: blue;
}

.hot {
    color: red;
}

p {
    text-align: center;
    font-size: 2em;
}

.output {
    display: flex;
    justify-content: center;
}

/* From cssbuttons.io by @meermubashar */
button {
    width: 200px;
    height: 45px;
    font-size: 1.2rem;
    font-weight: 100;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
}

button:hover::before {
    width: 100%;
}

button:hover {
    color: black;
}

button:active:before {
    background: #b9b9b9;
}

/* INPUT */
.css-input {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-width: 2px;
    border-color: #ffffff;
    background-color: #778899;
    color: #ffffff;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(66,66,66,.74);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
    outline:none;
}