@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #dcdcdd;
}

ul {
    list-style-type: none;
    padding-left: 0.8rem;
}

a {
    text-decoration: none;
    color: #F7F2E7;
}

/* BARRA DE NAVEGACION */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu {
    padding-top: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.menu--layout {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}
.menu__nav {
    font-size: 1.2rem;
    font-weight: 200;
    color: #3C4245;
}
.menu__nav li a:hover {
    color: #764245;
}
.animation--active {
    color: rgb(0, 0, 0);
}
.menu__btn {
    width: 100px;
    border: none;
    color: #F7F2E7;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.menu__btn button:hover {
    color: #764245;
}

/* CONTENIDO */
/* SECTION 1 */

.bg__uno{
    background-image: url(../img/tani.jpg);
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio__text {
    font-weight: 900;
    font-family: "Alfa Slab One", cursive;
    font-size: 10rem;
    letter-spacing: 5px;
    color: #bb8588;
    color: #764245;
}


/* SECTION 2 */
.container {
    width: 100%;
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock {
    font-size: 2rem;
    padding: 1.5rem 0;
}

.stock__productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.stock__card {
    text-align: center;
    border-radius: 6px;
    padding-bottom: 5px;
    background-color: #3C4245;
}

.stock__card--image {
    width: 300px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.stock__card--nombre {
    font-size: 1.3em;
    color: #f0f8ff;
    padding: 10px 35px;
}

.stock__card--btn {
    color: #f0f8ff;
    text-decoration: none;
    border: 1px solid #f0f8ff;
    border-radius: 35px;
    padding: 5px 35px;
    cursor: pointer;
    margin-bottom: 10px;
}
.stock__card--btn:hover {
    background-color: #e93e74;
    background-color: #764245;
    border: 1px solid #e93e74;
    border: 1px solid #764245;
    color: #f0f8ff;
}

/* BUTTON LIMPIAR CARRITO */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

.limpiar {
    border: 1px solid #f0f8ff;
    border-radius: 0.25rem;
    padding: 7px 30px;
    margin-top: 8px;
    margin-right: 15px;
}
.limpiar:hover {
    background-color: #e93e74;
    background-color: #764245;
    border: 1px solid #e93e74;
    border: 1px solid #764245;
    color: #141414;
}

/* CARRITO NOMBRE, CANTIDAD, TOTAL */
.carrito {
    display: flex;
    flex-direction: column;
}

.carrito__nombre {
    text-align: center;
    color: #f0f8ff;
    font-size: 2.2em;
    padding: 1rem 1rem;

}

.carrito__cantidad {
    text-align: left;
    font-size: 1.2em;
    padding: 2rem 1rem;
}

.carrito__total {
    text-align: center;
    font-size: 1.2em;
    padding: 2rem 1rem;
}

/* ESTILO CONTENEDOR CARRITO */
.carrito__container {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.carrito__card {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #f0f8ff;
    display: flex;
    justify-content: space-evenly;
}

.carrito__card--image {
    width: 25%;
    padding-left: 10px;
    justify-items: flex-start;
}
.carrito__card--card {
    text-align: left;
    width: 200px;
}
.carrito__card--nombre {
    font-weight: 400;
}
.carrito__card--type {
    padding-bottom: 10px;
    font-weight: 300;
}
.carrito__card--price {
    font-size: 1.8rem;
    font-weight: 200;
}

/* OVERLAY CARRITO */
.pushbar-carrito {
    z-index: 99999;
    background-color: #141414;
    color: #f0f8ff;
}

.pushbar-carrito .btn-cerrar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pushbar-carrito .fa-times {
    padding: 0.5rem 1rem;
    background-color: #141414;
    color: #f0f8ff;
    font-size: 1.4rem;
}

.form-floating label {
    color: #141414;
}


@media only screen and (max-width: 599px) {
    ul {
        padding-left: 0;
    }
    header {
        padding: 1rem;
    }
    .menu {
        justify-content: space-between;
    }
    .menu__nav {
        font-size: 1.5rem;
    }
    .menu__btn {
        font-size: 1.8rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu__btn-column {
        flex-direction: column;
        align-items: flex-end;
    }
    /* .menu__btn li {
        padding-left: 10px;
    } */
    
    .container-fluid{
        width: 100%;
    }
    .inicio__text{
        font-size: 4rem;
    }
    .stock__productos {
        grid-template-columns: 350px;
        gap: 2rem;
    }
    .stock__card--image {
        width: 350px;
    }
}